@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadingPage {
  background-color: #fff !important;
  z-index: 1000 !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  flex-wrap: wrap !important;
  left: 0 !important;
  position: fixed !important;
}

.loadingPage::-webkit-scrollbar {
  display: none !important;
}
